<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body background="images\huntingdog.jpg">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/about.css">
    <title>Charity's Space </title>
</head>
<main>
    <header>

        <h2>Charity's Space</h2>
    </header>
    <hr>

    <p>
        My project is a database that stores facts about space. <br>
        It has the ability to add facts to the database. <br>
        It has the ability for a user to edit facts. <br>
        It has the ability for the user to search by keyword. <br>

    </p>
</main>
</body>
</html>