<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/facts.css">
    <title>Facts</title>
    <h1>Space Facts</h1>
    <p>There are lots of space facts here!</p>


    <p>Number of space facts currently entered: <span th:text="${facts.size()}">NUMBER OF SPACE FACTS GOES HERE</span></p>


    <ul>
        <li th:each="spaceFact: ${facts}" th:text="${spaceFact.fact}">SPACE FACT GOES HERE</li>
    </ul>

    <form action="/display/new" method="post">
        <input type="text" name="spaceFactField"/>
        <input type="submit" value="Add Your Fact!"/>

    </form>


</head>
<body>

</body>
</html>