<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/facts.css">
    <title>Facts</title>
</head>
<body>
    <h1>Space Facts</h1>

    <ul>
        <li><a href = "https://www.nasa.gov/">NASA</a></li>
        <li><a href = "/display/about/">About</a></li>
    </ul>
    <p>There are space facts here!</p>

    <p>Number of space facts currently entered: <span th:text="${facts.size()}">NUMBER OF SPACE FACTS GOES HERE</span></p>  <!--replaced count w/ facts.size -->

    <ul>
        <li th:each="spaceFact: ${facts}" th:text="${spaceFact.fact}">SPACE FACT GOES HERE</li> <!--this is just the display of the facts -->
    </ul>

    <form action="/display/new" method="post">
        <input type="text" name="fact"/>
        <input type="submit" value="Add Your Fact!"/>
    </form>
</body>
</html>